*.sh text eol=lf
entrypoint.sh text eol=lf

Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf

*.py text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.txt text eol=lf
